{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ actor.profile_path }}" class="card-img" alt="actor-img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ actor.name }}</h5>
        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>
</div>
<hr>
<section class="container bg-white mb-5 pb-4" style="border-radius: 20px;">
  <h3 class="my-3 pt-3 text-info">{{ actor.name }}님이 출연하는 영화 목록</h3>

  <div class="row border border-dark mt-3">
    {% for movie in actor.movie_actor.all %}
      <div class=" col-md-4 col-lg-3 my-3" >
        <div class="d-flex justify-content-center mt-4"> 
          <a href="{% url 'movies:movie_detail' movie.id %}">
            <img src="{{movie.poster_path}}"class="card-img-top" alt="movie-img" style="height:305px; width:200px">
          </a>
        </div>
        <div class="card-body">
          <h6 class="card-title text-center" ><strong>{{movie.title|truncatechars:15}}</strong></h6>
          <hr>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
<p class="mb-5"></p>
{% endblock %}