{% extends 'base.html' %} {% load static %}
{% load bootstrap4 %}

{% block content %}
<link rel="stylesheet" href="{% static 'movies/style.css' %}" type="text/css" media="screen">
<div class='bg-white mb-5 container p-5' style="border-radius: 20px;">
<div class="row col-lg-10 offset-lg-1">
  <div class="d-flex">
  <h2 class='text-info my-2'>{{ movie.title }}</h2>
    {% if request.user.is_superuser %}
    <div class="d-flex ml-auto">
      <a href="{% url 'movies:movie_update' movie.pk %}">
          <button type="button" class="btn btn-secondary mr-2">수정</button>
      </a>
      <form action="{% url 'movies:movie_delete' movie.pk %}" method="POST">
          {% csrf_token %}
          <input class="btn btn-secondary" type="submit" value="삭제">
      </form>
    </div>
      {% endif %}
  </div>
  <hr>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="card mb-3 border border-white">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ movie.poster_path }}" class="card-img" alt="movie-img">
          </div>
          <div class="col-md-8 pl-3">
            <div class="card-body">
              <h3 class="card-title">{{ movie.title }}</h3>
              <h4 class="card-text"><small class="text-muted">제작 년도 : {{ movie.release_date }}</small></h4>
              <h4 class="card-text"><small class="text-muted">원래 제목 : {{ movie.original_title }}</small></h4>
              <h4 class="card-text"><small class="text-muted">영화 평점 : <span class="star-prototype mr-2">{{ movie.voteavg }}</span>{{ movie.voteavg }}점</small></h4>
              <h4 class="card-text"><small class="text-muted">유저 평점 : <span class="star-prototype mr-2">{{ score }}</span>{{ score }}점
              </small></h4>
              <h4 class="card-text">
                <small class="text-muted">주연 : 
                  {% for actor in movie.actors.all %}
                    {{ actor.name }},
                  {% endfor %}
                </small>
              </h4>
              <div class="my-3">
                {% for gen in movie.genres.all %}
                  <button class="btn btn-secondary my-1">{{ gen.name }}</button>
                {% endfor %}
              </div>
              {% if request.user in movie.like_users.all %}
                <i class=" fas fa-heart fa-2x like-btn" data-pk="{{ movie.pk }}" style="color:red" ></i>
              {% else %}
                <i class=" far fa-heart fa-2x like-btn" data-pk="{{ movie.pk }}" style="color:gray" ></i>
              {% endif %}
              <span class="cnt-{{ movie.pk }}">{{ movie.like_users.all|length }} 명이 이 영화를 좋아합니다.</span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <h5 class="text-dark">시놉시스</h5>
      {{ movie.overview }}
    </li>
    <li class="list-group-item">
      <h3 class="text-primary m-3">주연 배우</h3>
      <div class="card-group mx-4">
        {% for actor in movie.actors.all %}
          <div class="card">
            <a href="{% url 'movies:actor_idx' actor.id %}">
            <img src="{{ actor.profile_path }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">{{ actor.name }}</h5>
            </div>
            </a>
          </div>
        {% endfor %}
      </div> 
    </li>
  </ul>
</div>

<div class="d-flex">
  <a href="{% url 'movies:review_create' movie.pk %}" class="ml-auto"><button class="btn btn-secondary">리뷰 쓰기</button></a>
</div>
<hr>
<!-- 리뷰 게시글 -->
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">작성 시간</th>
    </tr>
  </thead>
  <tbody>
    {% for review in movie.review_set.all %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url 'movies:review_detail' review.movie.id review.pk %}">{{ review.title }}</a></td>
      <td><a href="{% url 'accounts:detail' review.user %}"><p>{{ review.user }}</p></a></td>
      <td>{{ review.updated_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


<p class="mb-5"></p>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script>
  const likeBtns = document.querySelectorAll('.like-btn')
  likeBtns.forEach(function(btn){
    btn.addEventListener('click', function(event){
      axios.get(`/movies/${btn.dataset.pk}/like/`)
      .then(function(res){
        console.log(res.data)
        if (res.data.liked){
          btn.style.color = 'crimson'
        } else {
            btn.style.color  = 'black'
          }
          const cntSpan = document.querySelector(`.cnt-${btn.dataset.pk}`)
          cntSpan.innerText = res.data.count
      })
      .catch(function(err){
        console.log(err)
      })

    })
  })
  $.fn.generateStars = function() {
  return this.each(function(i,e){$(e).html($('<span/>').width($(e).text()*8));});
  };

  // 숫자 평점을 별로 변환하도록 호출하는 함수
  $('.star-prototype').generateStars();
</script>
{% endblock %}
