{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class='bg-white my-3 container p-5' style="border-radius: 20px;">
    {% if request.resolver_match.url_name == 'review_create' %}
        <h2 class='mb-5 text-info'>리뷰 쓰기</h2>
    {% else %}
        <h2 class='mb-5 text-info'>수정하기</h2>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class='btn btn-primary'>submit</button>
    </form>
</div>
<p class="mb-5"></p>
{% endblock %}