{% extends 'base.html' %}

{% block content %}
<div class="col-md-8 offset-2 mb-2">
  <!--영화 검색 -->
  <form class="d-flex justify-content-center">
      <input type="text" name="searchword" value="{{searchword}}" placeholder=" 영화 제목을 검색해보세요." 
      class="w-75 p-2" style="border-radius: 20px;">
      <input class="btn text-white mx-2" type="submit" value="검색" style=" border: 1px solid white; border-radius: 10px;">
  </form>
</div>
<div class="p-4 bg-white mb-5 mt-4" style="border-radius: 20px;">
  <br>
  <h3 class="mx-5 text-info">"{{ searchword }}" 의 검색결과</h3>
  {% if resultMovie %}
    <div class="row">
      {% for movie in resultMovie %}
        <div class=" col-md-4 col-lg-3 my-3" >
          <div class="d-flex justify-content-center mt-4"> 
            <a href="{% url 'movies:movie_detail' movie.id %}">
              <img src="{{movie.poster_path}}"class="card-img-top" alt="movie-img" style="height:305px; width:200px">
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-title text-center" ><b>{{movie.title|truncatechars:15}}</b></h6>
            <hr>
          </div>
        </div>
      {% endfor %}
    </div>
  <br>
  {% elif resultActor %}
    <div class="row">
      {% for actor in resultActor %}
      <div class=" col-md-4 col-lg-3 my-3" >
        <div class="d-flex justify-content-center mt-4"> 
          <a href="{% url 'movies:actor_idx' actor.id %}">
            <img src="{{actor.profile_path}}"class="card-img-top" alt="movie-img" style="height:305px; width:200px">
          </a>
        </div>
        <div class="card-body">
          <h6 class="card-title text-center" ><b>{{actor.name|truncatechars:15}}</b></h6>
          <hr>
        </div>
      </div>
      {% endfor %}
    </div>
  {% elif resultGenre %}
    <div class="row m-5">
      {% for gen in resultGenre %}
      <a href="{% url 'movies:genre_idx' gen.id %}" class="text-decoration-none mx-3">
        <button class="btn btn-secondary my-1">{{ gen.name }}</button>
      </a>
      {% endfor %}
    </div>
  {% else %}
    <img src="/media/sorry.jpg" alt="sorry-img" class="mx-auto d-none d-md-block mt-3">
    <hr>
    <h3 class="m-5 text-center">다른 검색어로 부탁드립니다 ㅠㅠ</h3>
  {% endif %}
</div>
{% endblock %} 
