/*base code*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated.infinite {
  animation-iteration-count: infinite;
}
.animated.hinge {
  animation-duration: 2s;
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1)
  }
  100% {
    transform: scale3d(1.3, 1.3, 1.3)
  }
}
.pulse {
  animation-name: pulse
}

span.star-prototype, span.star-prototype > * {
  height: 17px; 
  background: url(http://i.imgur.com/YsyS5y8.png) 0 -16px repeat-x;
  width: 80px;
  display: inline-block;
}

span.star-prototype > * {
  background-position: 0 -1px;
  max-width:80px; 
}