{% extends 'base.html' %}

{% block content %}

<h1 class='mt-5 text-info'>{{ user.username }}</h1>

{% for gen in genre %}
  {% if gen in request.user.like_gens.all %}
    <button class="btn btn-danger my-1" data-pk="{{ gen.pk }}" >{{ gen.name }}</button>
  {% else %}
    <button class="btn btn-secondary my-1" data-pk="{{ gen.pk }}">{{ gen.name }}</button>
  {% endif %}
{% endfor %}
<section>
  <h3 class="my-5 text-success">{{ user.username }}님이 좋아하는 영화 목록</h3>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    {% for movie in user.like_movies.all %}
      <div class="col mb-4">
        <a href="{% url 'movies:movie_detail' movie.pk %}" class="text-decoration-none">
          <div class="card">
            <img src="{{movie.poster_path}}" class="card-img-top" alt="movie img1">
            <div class="card-body">
              <h5 class="card-title text-center">{{ movie.title }}</h5>
              <p class="card-text text-center">
                {% for gen in movie.genres.all %}
                  <button class="btn btn-secondary my-1">{{ gen.name }}</button>
                {% endfor %}
              </p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</section>


<script>
  const genBtns = document.querySelectorAll('.btn')
  genBtns.forEach(function(btn){
    btn.addEventListener('click', function(event){
      console.log(event.target.dataset.pk)
      const genId = event.target.dataset.pk
      axios.get(`/accounts/${genId}/genlike/`)
      .then(function(res){
        console.log(res.data)
        if (res.data.liked){
          btn.classList.remove('btn-secondary')
          btn.classList.add('btn-danger')
        } else {
            btn.classList.remove('btn-danger')
            btn.classList.add('btn-secondary')
          }
      })
      .catch(function(err){
        console.log(err)
      })
    })
  })
</script>

{% endblock %}
